* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
}


body {
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    border: solid 1px #5c5656;
    width: 25rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: rgb(231, 243, 57);
}

h1 {
    font-family: 'Times New Roman', Times, serif;

}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;

}

input {
    margin-top:3px;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    align-items: center;
    text-align: center;
}



label {
   
    font-size: 18px;
    text-align: center;
    /* Ajuste para alinhar à esquerda */
    margin-bottom: 5px;
    /* Espaçamento entre os labels */
}


/* Estilizando o botão submit */
input[type="submit"] {
    margin-top: 15px;
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Estilizando o botão quando o cursor passa por cima */
input[type="submit"]:hover {
    background-color: rgb(32, 187, 17);
}

input[type="text"]:focus {
    outline: none; /* Remove a borda de destaque padrão do navegador */
}
